body {
    position: relative;
    background: transparent;
}
#section1 {
    padding-top:auto;
    padding-left: 50px;
    padding-right: 50px;
    height:auto;
    color: black;
    background-image: url("../image/fondo-negro1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section1 h1{
    background-color: white;
    opacity: 0.8;
    color: black;
}
#section2 {
    padding-top:auto;
    padding-left: 50px;
    padding-right: 50px;
    height:auto;
    color: black;
    background-image: url("../image/fondo-negro1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section3 {
    padding-top:auto;
    padding-left: 50px;
    padding-right: 50px;
    height:auto;
    color: black;
    background-image: url("../image/casca2.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#section41 {
    padding-top:auto;
    padding-left: 50px;
    padding-right: 50px;
    height:auto;
    color: black;
    background-image: url("../image/casca2.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#section42 {
    padding-top:auto;
    padding-left: 50px;
    padding-right: 50px;
    height:auto;
    color: black;
    background-image: url("../image/casca2.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax {

    background-image: url("../image/indu-ban.png");

    min-height: 300px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#p1{
    background-image: url("../image/fondo-negro1.jpg");
}
#p2{
    background-image: url("../image/casca2.gif");
}
blockquote{
    background-color: #f2f2f2;
    opacity: 0.8;

}
#accordion{
    color: black;
}
@media (min-width: 1300px) {
    #section1, #section2, #section3, #section41,#section42{
        padding-left: 300px;
        padding-right: 300px;
    }
}
